---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/plan
    body:
      encoding: UTF-8
      string: '{"name":"test plan","interval":"monthly","amount":10000,"send_invoices":false,"send_sms":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - bbe399b4-a084-4bdc-b20b-69b295c5fc18
      x-amzn-remapped-content-length:
      - '396'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuHWUFInjoEEEdA=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"18c-FK774a2/qBQnSD0ZROLV+Q"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:07:16 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Plan created","data":{"name":"test plan","interval":"monthly","amount":10000,"send_invoices":false,"send_sms":false,"integration":735006,"domain":"test","currency":"NGN","plan_code":"PLN_ze8gkd19w1i1gsf","invoice_limit":0,"hosted_page":false,"migrate":false,"is_archived":false,"id":1848188,"createdAt":"2024-11-04T12:07:16.862Z","updatedAt":"2024-11-04T12:07:16.862Z"}}'
  recorded_at: Mon, 04 Nov 2024 12:07:16 GMT
recorded_with: VCR 6.3.1
