---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/plan
    body:
      encoding: UTF-8
      string: '{"name":"","interval":"monthly","amount":100,"send_invoices":false,"send_sms":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 88f91ea3-dcfe-432d-841c-f784c767df3c
      x-amzn-remapped-content-length:
      - '166'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuHDBEWCjoEEDxw=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"a6-g8/HZjRu3rTITx+MhXOqyg"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:05:13 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"\"name\" is not allowed to be empty","meta":{"nextStep":"Provide
        all required params "},"type":"validation_error","code":"missing_params"}'
  recorded_at: Mon, 04 Nov 2024 12:05:13 GMT
recorded_with: VCR 6.3.1
