---
http_interactions:
- request:
    method: get
    uri: https://api.paystack.co/plan/PLN_ze8gkd19w1i1gsf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 0d79e3b4-8cd5-4bdd-b03b-1ac683d17e51
      x-amzn-remapped-content-length:
      - '644'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuJ3dG78joEEPfg=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"284-oW5fRsbAr3Y+/iyFE9n31A"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:24:28 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Plan retrieved","data":{"subscriptions":[],"pages":[],"domain":"test","name":"test
        plan","plan_code":"PLN_ze8gkd19w1i1gsf","description":null,"amount":10000,"interval":"monthly","invoice_limit":0,"send_invoices":false,"send_sms":false,"hosted_page":false,"hosted_page_url":null,"hosted_page_summary":null,"currency":"NGN","migrate":false,"is_deleted":false,"is_archived":false,"id":1848188,"integration":735006,"createdAt":"2024-11-04T12:07:16.000Z","updatedAt":"2024-11-04T12:07:16.000Z","pages_count":0,"subscribers_count":0,"subscriptions_count":0,"active_subscriptions_count":0,"total_revenue":0,"subscribers":[]}}'
  recorded_at: Mon, 04 Nov 2024 12:24:27 GMT
recorded_with: VCR 6.3.1
