---
http_interactions:
- request:
    method: get
    uri: https://api.paystack.co/plan/fake_plan_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 3927c3cf-ea2b-4198-b420-cf17a53ff0cb
      x-amzn-remapped-content-length:
      - '185'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuJPDFsBDoEEB4A=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"b9-5GEhY/HtWNEJXsl5SB6pcA"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:20:09 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"Plan ID/code specified is invalid","meta":{"nextStep":"Ensure
        that the value(s) you''re passing are valid."},"type":"validation_error","code":"invalid_params"}'
  recorded_at: Mon, 04 Nov 2024 12:20:09 GMT
recorded_with: VCR 6.3.1
