---
http_interactions:
- request:
    method: get
    uri: https://api.paystack.co/plan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 18fc9fa3-e5fe-4a4e-9b7e-a49b3b7a6cb7
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuId2EtdjoEENhg=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"9f5b-0RP27Ppv5TauRDWvBLM67A"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:14:54 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Plans retrieved","data":[{"subscriptions":[],"pages":[],"domain":"test","name":"test
        plan","plan_code":"PLN_ze8gkd19w1i1gsf","description":null,"amount":10000,"interval":"monthly","invoice_limit":0,"send_invoices":false,"send_sms":false,"hosted_page":false,"hosted_page_url":null,"hosted_page_summary":null,"currency":"NGN","migrate":false,"is_deleted":false,"is_archived":false,"id":1848188,"integration":735006,"createdAt":"2024-11-04T12:07:16.000Z","updatedAt":"2024-11-04T12:07:16.000Z","total_subscriptions":0,"active_subscriptions":0,"total_subscriptions_revenue":0},{"subscriptions":[{"customer":174376785,"plan":1496733,"integration":735006,"domain":"test","start":1720810469,"status":"active","quantity":1,"amount":21600000,"subscription_code":"SUB_0msymxp3g2lnjfc","email_token":"s7doenr75vf4c6x","authorization":829839129,"easy_cron_id":null,"cron_expression":"54
        18 12 7 *","next_payment_date":"2025-07-12T18:54:00.000Z","open_invoice":null,"invoice_limit":0,"id":653890,"split_code":null,"cancelledAt":null,"createdAt":"2024-07-12T18:54:29.000Z","updatedAt":"2024-07-12T18:54:29.000Z"}],"pages":[],"domain":"test","name":"Premium/yearly/215999.89","plan_code":"PLN_20e4fyn86jia77w","description":null,"amount":21599989,"interval":"annually","invoice_limit":0,"send_invoices":false,"send_sms":false,"hosted_page":false,"hosted_page_url":null,"hosted_page_summary":null,"currency":"NGN","migrate":false,"is_deleted":false,"is_archived":false,"id":1496733,"integration":735006,"createdAt":"2024-07-12T18:4[...]
