---
http_interactions:
- request:
    method: put
    uri: https://api.paystack.co/plan/PLN_ze8gkd19w1i1gsf
    body:
      encoding: UTF-8
      string: '{"amount":120000,"interval":"annually"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 770801f6-1c4f-455e-af01-c2e853c85c73
      x-amzn-remapped-content-length:
      - '68'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuKNCEXmDoEEDWQ=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"44-ZdjnSnBYvS55eKuJaXMWig"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:26:46 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Plan updated. 0 subscription(s) affected"}'
  recorded_at: Mon, 04 Nov 2024 12:26:46 GMT
recorded_with: VCR 6.3.1
