---
http_interactions:
- request:
    method: put
    uri: https://api.paystack.co/plan/fake_plan_code
    body:
      encoding: UTF-8
      string: '{"amount":120000,"interval":"annually"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 4208e329-d058-49ea-ab1c-6978f7f40c07
      x-amzn-remapped-content-length:
      - '185'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuKLIEcvjoEEqxw=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"b9-5GEhY/HtWNEJXsl5SB6pcA"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:26:34 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"Plan ID/code specified is invalid","meta":{"nextStep":"Ensure
        that the value(s) you''re passing are valid."},"type":"validation_error","code":"invalid_params"}'
  recorded_at: Mon, 04 Nov 2024 12:26:33 GMT
recorded_with: VCR 6.3.1
