---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/customer
    body:
      encoding: UTF-8
      string: '{"email":"fakeemail","first_name":null,"last_name":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - d949539f-5b74-4eab-8d71-c9f0a730c23c
      x-amzn-remapped-content-length:
      - '183'
      x-amzn-remapped-connection:
      - keep-alive
      x-ratelimit-remaining:
      - '5'
      x-amz-apigw-id:
      - ArZfAF81DoEEp4Q=
      x-amzn-remapped-server:
      - nginx
      x-ratelimit-limit:
      - '5'
      etag:
      - W/"b7-9QVjncOC5Ezegv6NJuFDaQ"
      x-amzn-remapped-date:
      - Sun, 03 Nov 2024 16:20:22 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"\"email\" must be a valid email","meta":{"nextStep":"Ensure
        that the value(s) you''re passing are valid."},"type":"validation_error","code":"invalid_params"}'
  recorded_at: Sun, 03 Nov 2024 16:20:21 GMT
recorded_with: VCR 6.3.1
