---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/customer
    body:
      encoding: UTF-8
      string: '{"email":"test@example.com","first_name":"Test","last_name":"User"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - '09b034bd-fbef-4568-8c72-a24767d64ae1'
      x-amzn-remapped-content-length:
      - '410'
      x-amzn-remapped-connection:
      - keep-alive
      x-ratelimit-remaining:
      - '4'
      x-amz-apigw-id:
      - AraxRFtJjoEEhmw=
      x-amzn-remapped-server:
      - nginx
      x-ratelimit-limit:
      - '5'
      etag:
      - W/"19a-iOpnM66fHc2OHsyqIyBCAw"
      x-amzn-remapped-date:
      - Sun, 03 Nov 2024 16:29:08 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Customer created","data":{"transactions":[],"subscriptions":[],"authorizations":[],"email":"test@example.com","first_name":"Test","last_name":"User","integration":735006,"domain":"test","customer_code":"CUS_xsrozmbt8g1oear","risk_action":"default","id":203316808,"createdAt":"2024-11-03T16:29:08.649Z","updatedAt":"2024-11-03T16:29:08.649Z","identified":false,"identifications":null}}'
  recorded_at: Sun, 03 Nov 2024 16:29:08 GMT
recorded_with: VCR 6.3.1
