---
http_interactions:
- request:
    method: get
    uri: https://api.paystack.co/customer/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 2053479d-6b0f-41be-a407-e278ab9822bd
      x-amzn-remapped-content-length:
      - '622'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - ArcjPFH0joEELVA=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"26e-dvNOL54ogzt4t9MGLJzMfw"
      x-amzn-remapped-date:
      - Sun, 03 Nov 2024 16:41:18 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Customer retrieved","data":{"transactions":[],"subscriptions":[],"authorizations":[],"first_name":"Test","last_name":"User","email":"test@example.com","phone":null,"metadata":null,"domain":"test","customer_code":"CUS_xsrozmbt8g1oear","risk_action":"default","id":203316808,"integration":735006,"createdAt":"2024-11-03T16:29:08.000Z","updatedAt":"2024-11-03T16:29:08.000Z","created_at":"2024-11-03T16:29:08.000Z","updated_at":"2024-11-03T16:29:08.000Z","total_transactions":0,"total_transaction_value":[],"dedicated_account":null,"dedicated_accounts":[],"identified":false,"identifications":null}}'
  recorded_at: Sun, 03 Nov 2024 16:41:17 GMT
recorded_with: VCR 6.3.1
