---
http_interactions:
- request:
    method: get
    uri: https://api.paystack.co/customer/fakeemail@unknown.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - cdcbae03-df3f-4c73-aa5d-5976e3d2be8f
      x-amzn-remapped-content-length:
      - '222'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - ArcMZFZQDoEEfwA=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"de-eC7EhiyKqQs9rmGDlrPLaQ"
      x-amzn-remapped-date:
      - Sun, 03 Nov 2024 16:38:51 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"Customer not found","meta":{"nextStep":"Ensure
        that you''re passing the customer code or email of a customer that exists
        on the integration"},"type":"validation_error","code":"customer_not_found"}'
  recorded_at: Sun, 03 Nov 2024 16:38:51 GMT
recorded_with: VCR 6.3.1
