---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/dedicated_account/assign
    body:
      encoding: UTF-8
      string: '{"email":"fakemail","first_name":"Test2","last_name":"User","preferred_bank":null,"country":"NG","subaccount":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 0efec53f-d1d6-4193-93fc-9400c7f5153c
      x-amzn-remapped-content-length:
      - '183'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - At8qRGFfDoEEV7A=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"b7-9QVjncOC5Ezegv6NJuFDaQ"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 10:54:19 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"\"email\" must be a valid email","meta":{"nextStep":"Ensure
        that the value(s) you''re passing are valid."},"type":"validation_error","code":"invalid_params"}'
  recorded_at: Mon, 04 Nov 2024 10:54:19 GMT
recorded_with: VCR 6.3.1
