---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/dedicated_account/assign
    body:
      encoding: UTF-8
      string: '{"email":"test2@example.com","first_name":"Test2","last_name":"User","preferred_bank":null,"country":"NG","subaccount":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 2e59cbfa-c584-4287-8ae7-46a15644e874
      x-amzn-remapped-content-length:
      - '64'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - At8NUEFVjoEEZBw=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"40-5YNniXNpCgL/2mRg67Lt9A"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 10:51:13 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Assign dedicated account in progress"}'
  recorded_at: Mon, 04 Nov 2024 10:51:13 GMT
recorded_with: VCR 6.3.1
