---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/dedicated_account
    body:
      encoding: UTF-8
      string: '{"customer":"fake","preferred_bank":null,"subaccount":null,"phone":"+2348011111111"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 524172d9-0c1d-4f9d-b600-d575f3b3db54
      x-amzn-remapped-content-length:
      - '192'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - At6twFIEDoEEWNA=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"c0-LwYBNxZ2gtg2aYrJb4j3ng"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 10:41:02 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"Invalid value for parameter \"customer\"","meta":{"nextStep":"Ensure
        that the value(s) you''re passing are valid."},"type":"validation_error","code":"invalid_params"}'
  recorded_at: Mon, 04 Nov 2024 10:41:02 GMT
recorded_with: VCR 6.3.1
