---
http_interactions:
- request:
    method: get
    uri: https://api.paystack.co/dedicated_account/requery?account_number=FAKEACC&provider_slug=fake-bank
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - fd1715fe-c500-492c-98b1-6ed210a244c4
      x-amzn-remapped-content-length:
      - '144'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuDG9EfBjoEEHCA=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"90-BIX8s7YBVAp6Ap0X6zahvw"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 11:38:20 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Managed accounts successfully retrieved","data":[],"meta":{"total":0,"skipped":0,"perPage":50,"page":1,"pageCount":0}}'
  recorded_at: Mon, 04 Nov 2024 11:38:20 GMT
recorded_with: VCR 6.3.1
