---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/dedicated_account/split
    body:
      encoding: UTF-8
      string: '{"customer":"CUS_xsrozmbt8g1oear","subaccount":"ACCT_ynilx6bhxhgtk0p"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - a9a8a428-c2b5-4447-bff5-997aa98c7025
      x-amzn-remapped-content-length:
      - '208'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuDyIH9aDoEEKug=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"d0-N31Gaq9I0A8QF2gWuGBQ5w"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 11:42:56 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"\"account_number\" and (\"subaccount\" or
        \"split_code\") fields are required","meta":{"nextStep":"Provide all required
        params "},"type":"validation_error","code":"missing_params"}'
  recorded_at: Mon, 04 Nov 2024 11:42:56 GMT
recorded_with: VCR 6.3.1
