---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/subaccount
    body:
      encoding: UTF-8
      string: '{"business_name":"","settlement_bank":"057","account_number":"0000000000","percentage_charge":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 12d0b48c-de8f-412c-850a-8765f9d2be88
      x-amzn-remapped-content-length:
      - '156'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuMTMElWDoEEr0Q=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"9c-miJE7uvRCs0F3Qb8zJyxyA"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:41:04 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"Business name is required","meta":{"nextStep":"Provide
        all required params "},"type":"validation_error","code":"missing_params"}'
  recorded_at: Mon, 04 Nov 2024 12:41:04 GMT
recorded_with: VCR 6.3.1
