---
http_interactions:
- request:
    method: post
    uri: https://api.paystack.co/subaccount
    body:
      encoding: UTF-8
      string: '{"business_name":"Test Business","settlement_bank":"057","account_number":"0000000000","percentage_charge":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - 3907ab63-ca9b-4d54-ac98-a0447078900d
      x-amzn-remapped-content-length:
      - '523'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - At_5BFtwDoEEfRA=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"20b-xo7BaoGUA77J9C/lR5F/5g"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 11:16:22 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Subaccount created","data":{"business_name":"Test
        Business","account_number":"0000000000","percentage_charge":0,"settlement_bank":"Zenith
        Bank","currency":"NGN","bank":21,"integration":735006,"domain":"test","account_name":"Test","product":"collection","managed_by_integration":735006,"subaccount_code":"ACCT_ynilx6bhxhgtk0p","is_verified":false,"settlement_schedule":"AUTO","active":true,"migrate":false,"id":1195166,"createdAt":"2024-11-04T11:16:22.243Z","updatedAt":"2024-11-04T11:16:22.243Z"}}'
  recorded_at: Mon, 04 Nov 2024 11:16:22 GMT
recorded_with: VCR 6.3.1
