---
http_interactions:
- request:
    method: put
    uri: https://api.paystack.co/subaccount/ACCT_ynilx6bhxhgtk0p
    body:
      encoding: UTF-8
      string: '{"business_name":"Test Business Updated","settlement_bank":"057","account_number":"crapshoot1","percentage_charge":"50"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - ad6f04f9-0509-42dc-8d34-1e04f90466ff
      x-amzn-remapped-content-length:
      - '179'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuNFmELwDoEEtNg=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"b3-LGUoqUcPsxRVmOjfP7JU5Q"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:46:28 GMT
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"Account details are invalid","meta":{"nextStep":"Ensure
        that the value(s) you''re passing are valid."},"type":"validation_error","code":"invalid_params"}'
  recorded_at: Mon, 04 Nov 2024 12:46:28 GMT
recorded_with: VCR 6.3.1
