---
http_interactions:
- request:
    method: put
    uri: https://api.paystack.co/subaccount/ACCT_ynilx6bhxhgtk0p
    body:
      encoding: UTF-8
      string: '{"business_name":"Test Business Updated","settlement_bank":"057","account_number":"0000000000","percentage_charge":"50"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - efaa5613-0cb4-49c7-a787-e0d16ad58578
      x-amzn-remapped-content-length:
      - '653'
      x-amzn-remapped-connection:
      - keep-alive
      x-amz-apigw-id:
      - AuNWMFTvDoEEtKg=
      x-amzn-remapped-server:
      - nginx
      etag:
      - W/"28d-hiBnBN3yeuY12I6g5ejjHw"
      x-amzn-remapped-date:
      - Mon, 04 Nov 2024 12:48:13 GMT
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Subaccount updated","data":{"domain":"test","subaccount_code":"ACCT_ynilx6bhxhgtk0p","business_name":"Test
        Business Updated","description":null,"primary_contact_name":null,"primary_contact_email":null,"primary_contact_phone":null,"metadata":null,"percentage_charge":50,"is_verified":false,"settlement_bank":"Zenith
        Bank","account_number":"0000000000","settlement_schedule":"AUTO","active":true,"migrate":false,"currency":"NGN","account_name":"Test","product":"collection","id":1195166,"integration":735006,"bank":21,"managed_by_integration":735006,"createdAt":"2024-11-04T11:16:22.000Z","updatedAt":"2024-11-04T12:48:13.000Z"}}'
  recorded_at: Mon, 04 Nov 2024 12:48:13 GMT
recorded_with: VCR 6.3.1
